* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --gallery-gap: calc(var(--index) * 10);
  --header-color: #f4efec;
  --text-color: #cdc6c3;
  --hover-color: tomato;
  --icon-color: #ab71e0;
  --icon-color--30: #ab71e030;
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c, sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

/* will-change*/
.content,
.hero,
.main-header,
.gallery>* {
  will-change: transform;
}

body {
  color: #fafafa;
  font-family: raleway-c, sans-serif;

  background-image: url('../img/background.jpg');
  background-size: 50px;
  overflow-x: hidden;
}

.container {
  padding: 0 10vw;
}

.hero {
  position: absolute;
  top: 8vh;
  left: 37vw;

  width: calc(var(--index) * 36);

  z-index: -1;
}

.main-header {
  height: 100vh;
}

.main-title {
  position: absolute;
  bottom: 12vh;

  width: min-content;
  line-height: 0.9;

  font-size: calc(var(--index) * 6);
}

.gallery {
  display: flex;

  padding: calc(var(--index) * 8) 0;
}

@media (max-width: 1000px) {
  .gallery {
    display: block;
  }
}

.gallery>* {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  max-height: 90vh;
  margin-bottom: calc(var(--gallery-gap) * 0.7);

  text-align: center;
}

.gallery__link {
  display: block;

  text-decoration: none;
  color: var(--text-color);

  margin-bottom: calc(var(--index) * 0.3);
}

.gallery__img {
  max-height: calc(var(--index) * 32);
  margin-bottom: calc(var(--index) * 0.3);

  border-radius: 8px;

  transition: all 0.5s;
}

.gallery__link:hover .gallery__img {
  box-shadow: 0 0 70px -30px var(--hover-color);
}

.gallery__description {
  font-size: calc(var(--index) * 0.8)
}

.gallery__github {
  position: relative;

  display: inline-block;
  padding: calc(var(--index) * 0.5);
  text-decoration: none;
}

.github::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  min-width: calc(var(--index) * 15);
  height: 22px;
  
  background: radial-gradient(var(--icon-color--30), transparent 70%);
  border-radius: 50%;
  opacity: 0;
  
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.github:hover::before {
  opacity: 1;
}

.github__icon {
  fill: var(--icon-color);
  border-radius: 50%;

  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: calc(var(--gallery-gap) * 0.7);
}

.text-block {
  position: relative;

  color: var(--text-color);
}

.text-block__h {
  margin-bottom: 1.5rem;

  font-size: calc(var(--index) * 1.5);
  line-height: 2.4rem;
  color: var(--header-color);
}

.text-block__p {
  line-height: 1.75;

  font-size: calc(var(--index));
}