* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --header-color: #f4efec;
  --text-color: #cdc6c3;
  --gallery-gap: calc(var(--index) * 10);
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}

h1, h2, h3, h4, h5, h6 {
  font-family: outfit-c;
}

/* will-change*/

.content, .hero, .main-header, .gallery > * {
  will-change: transform;
}

body {
  color: #fafafa;
  font-family: raleway-c;
  
  background-image: url('../img/background.jpg');
  background-size: 50px;
  overflow-x: hidden;
}

.container {
  padding: 0 10vw;
}

.hero {
  position: absolute;
  top: 8vh;
  left: 37vw;
  
  width: calc(var(--index) * 36);

  z-index: -1;
}

.main-header {
  height: 100vh;
}

.main-title {
  position: absolute;
  bottom: 12vh;

  width: min-content;
  line-height: 0.9;

  font-size: calc(var(--index) * 8);
}

.gallery {
  display: flex;

  padding: calc(var(--index) * 8) 0;
}

.gallery > * {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  max-height: 90vh;
  margin-bottom: calc(var(--gallery-gap) * 0.7);

  border-radius: 8px;
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: calc(var(--gallery-gap) * 0.7);
}

.text-block {
  position: relative;
  
  color: var(--text-color);
}

.text-block__h {
  margin-bottom: 1.5rem;
  
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--header-color);
}

.text-block__p {
  line-height: 1.75;
}